*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
   font-family: 'Montserrat', sans-serif;
   background-image: url(./mountain.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
.app-wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  min-height: 100vh;
}
header input {
	display: flex;
	justify-content: center;
	padding: 10px 15px;
	background-color: rgba(255, 255, 255, 0.3);
	color: #313131;
	width: 100%;
	max-width: 280px;
	border: 0;
	outline: none;
	border-radius: 16px 0px 16px 0px;
	border-bottom: 3px solid #DF8E00;
	font-size: 20px;
	transition: 0.2s ease-out;
	margin-top: 50px;
}
header input:focus{
    background-color: rgba(255, 255, 255, 0.6);
}
main{
    flex: 1 1 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 25px 50px;

}
.city {
	color: #FFF;
	font-weight: 700;
	font-size: 32px;
	display: block;
	margin-bottom: 15px;
}
.date {
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
}
.temp {
	color: #FFF;
	font-size: 102px;
	font-weight: 900;
	text-shadow: 1px 13px rgba(0,0,0,0.5);
}
.temp span {
	font-weight: 500;
}
.weather {
	color: #FFF;
	font-size: 32px;
	font-weight: italic;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 15px;
	text-shadow: 2px 6px rgba(0,0,0,0.5);
}
.hi-low {
	color: #FFF;
	font-size: 22px;
	font-weight: 500;
	text-shadow: 2px 6px rgba(0,0,0,0.5);
}
